@using FabrikProject.Models
@{ 
                /**/

                var controller = (ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower();
}


@if (Request.IsAuthenticated)
{

    <ul class="nav navbar-nav">

        @if (controller == "home")
        {
            <li class="active">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Performance", "Performance", "Account")
            </li>
        }
        else if (controller == "account")
        {
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">
                @Html.ActionLink("Performance", "Performance", "Account")
            </li>
        }
    </ul>
    using (Html.BeginForm("Search", "Account", FormMethod.Post, new { id = "searchform", @class = "navbar-form navbar-left col-md-8" }))
    {
        @Html.AntiForgeryToken()
    <div class="form-group" style="display:inline;">
        <div class="input-group" style="display:table;">
            <input type="text" class="form-control" name="search" id="searchform" placeholder="Search" list="json-datalist" autocomplete="off" autofocus="autofocus"/>
            <datalist id="json-datalist"></datalist>
            <div class="input-group-btn">
                <button class="btn btn-default" onclick="searchStocks()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
    
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>

                @Html.Action("_NamePartial", "Account")
            </li>
            <li><a class="navbar-brand" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    @Html.Partial("_NonLoggedIn")


}
