@using FabrikProject.Models



@if (Request.IsAuthenticated)
{
    
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Performance", "Performance", "Account")
        </li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome, " + @ViewBag.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "navbar-brand" })
            </li>
            <li><a class="navbar-brand" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    @Html.Partial("_NonLoggedIn")


}
