@using FabrikProject.Models
@model IEnumerable<UserStock>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-responsive custom-table" style="border-width: medium;border-color:#565656;">
            <tr>
                <td>
                    Total Value
                </td>
                <td>
                    $390,000
                </td>
            </tr>
            <tr>
                <td>
                    Returns
                </td>
                <td>
                    + $5,000
                </td>
            </tr>
            <tr>
                <td>
                    Initial Investment
                </td>
                <td>
                    $385,000
                </td>
            </tr>
            <tr>
                <td>
                    Asset Count
                </td>
                <td>
                    3
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">
        <img src="~/Content/Images/portfolioOverview.png" />s
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr class="active">
                    <th>Stock</th>
                    <th>Ticker</th>
                    <th>Quantity</th>
                    <th>Mkt Price</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AssetName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssetTicker)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.DatePurchased)</td>
                    <td>@Html.DisplayFor(modelItem => item.InitialInvestment)</td>
                    <td>
                        @Html.ActionLink("Edit","Edit","Account", new { id = item.ID },null)
                        @Html.ActionLink("Delete","Delete","Account", new { id = item.ID }, null)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    
<div class="col-md-2 col-md-offset-10">
    @Html.ActionLink("Add Asset", "UserAddStock", "Account", null, new { @class = "btn btn-success btn-large" })
</div>

