@model FabrikProject.Models.PortfolioMeta

@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <br />

    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered table-responsive custom-table" style="border-width: medium;border-color:#565656;">
                <tr>
                    <td>
                        Total Value
                    </td>
                    <td class="partialContents" data-url="@Url.Action("TotalValue","Home")">
                        ...
                    </td>
                </tr>
                <tr>
                    <td>
                        Returns
                    </td>
                    <td class="partialContents" data-url="@Url.Action("Returns","Home")">
                        ...
                    </td>
                </tr>
                <tr>
                    <td>
                        Initial Investment
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.InitialInvestmen)
                    </td>
                </tr>
                <tr>
                    <td>
                        Asset Count
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.TotalAssets)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <div id="donutchart" style="width: 900px; height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr class="active">
                        <th>Asset</th>
                        <th>Ticker</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Mkt Price</th>
                        <th>Weight</th>
                        <th>Value</th>
                        <th>Initial Investment</th>
                        <th>Commissions</th>
                        <th>Returns</th>
                        <th>Date Purchased</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="partialContents" data-url="@Url.Action("_StockTable","Home")">
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-10">
        @Html.ActionLink("Add Asset", "UserAddStock", "Account", null, new { @class = "btn btn-success btn-large" })
    </div>
    
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.post("/Home/Chart", function (data) {
                var options = {
                    title: 'My Portfolio',
                    pieHole: 0.4,
                    backgroundColor: '#F8F8F8',
                    colors: ['#A3D977','#556B2F']
                };
                console.log(data);
                var datas = google.visualization.arrayToDataTable([
                    ['Assets', 'Asset Value'],
                    ['Stocks', data['stocks']],
                    ['Cryptos', data['cryptos']]]);
                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(datas, options);
            });

            
        }
    </script>
}
else
{
    @Html.Action("RegisterPartial", "Home")
}
