@using FabrikProject.Models
@model UserStock
@{
    ViewBag.Title = "Delete";
}



    
<div class="col-md-12">
    <h4>Really Delete: </h4>
    <div>
        @Html.LabelFor(s => Model.AssetName):
        @Html.DisplayFor(s => Model.AssetName)
    </div>
    <div>
        @Html.LabelFor(s => Model.AssetTicker): 
        @Html.DisplayFor(s => Model.AssetTicker)
    </div>
    <div>
        @Html.LabelFor(s => Model.DatePurchased):
        @Html.DisplayFor(s => Model.DatePurchased)
    </div>
    <div>
        @Html.LabelFor(s => Model.Quantity):
        @Html.DisplayFor(s => Model.Quantity)
    </div>
    <div>
        @Html.LabelFor(s => Model.SharePrice):
        @Html.DisplayFor(s => Model.SharePrice)
    </div>
    <div>
        @Html.LabelFor(s => Model.InitialInvestment):
        @Html.DisplayFor(s => Model.InitialInvestment)
    </div>
</div>

<div>
    @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-cs btn-danger" })
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
