@using FabrikProject.Models
@model UserStock
@{
    ViewBag.Title = "Delete";
}



    
<div class="col-md-8 col-md-offset-2">
    <h4>Really Delete: </h4>

    @Html.LabelFor(s => Model.AssetName)
    @Html.DisplayFor(s => Model.AssetName)

    @Html.LabelFor(s => Model.AssetTicker)
    @Html.DisplayFor(s => Model.AssetTicker)

    @Html.LabelFor(s => Model.DatePurchased)
    @Html.DisplayFor(s => Model.DatePurchased)

    @Html.LabelFor(s => Model.InitialInvestment)
    @Html.DisplayFor(s => Model.InitialInvestment)
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
